snippet cl "log to console" !b
console.log(${0:message})
endsnippet

snippet js "json stringify" !i
JSON.stringify
endsnippet

snippet cj "log json" !b
console.log(JSON.stringify(${1:data}))
endsnippet

snippet f "function" !
(${1}) ->
	${0}
endsnippet
